<% layout('layouts/boilerplate') %>
<div class="new-dino">
  <div class="new-dino-form-wrapper">
    <h1>Edit Dinosaur</h1>
    <form
      action="/dinosaurs/<%= dinosaur._id  %>?_method=PUT"
      method="POST"
      class="new-dino-form"
      enctype="multipart/form-data"
    >
      <div class="dino-form-item">
        <label for="name" class="new-form-label">Name</label>
        <input
          type="text"
          name="dinosaur[name]"
          id="name"
          class="new-form-input"
          value="<%= dinosaur.name  %>"
          required
        />
        <label for="species" class="new-form-label">Species</label>
        <input
          type="text"
          name="dinosaur[species]"
          id="species"
          class="new-form-input"
          value="<%= dinosaur.species  %>"
          required
        />
      </div>
      <div class="dino-form-item">
        <label for="description" class="new-form-label">Description</label>
      </div>
      <div class="dino-form-item">
        <textarea
          name="dinosaur[description]"
          id="description"
          cols="30"
          rows="10"
          required
        >
<%= dinosaur.description  %></textarea
        >
      </div>
      <div class="dino-form-item">
        <label for="population" class="new-form-label">Population</label>
        <input
          type="number"
          name="dinosaur[population]"
          id="population"
          class="new-form-input"
          value="<%=dinosaur.population  %>"
          required
        />
      </div>
      <div class="dino-form-item">
        <label for="image">Image</label>
        <input type="file" id="image" name="image" />
      </div>
      <div class="new-button">
        <button class="new-btn">Update Dinosaur</button>
      </div>
    </form>
  </div>
</div>
