<% layout('layouts/boilerplate') %>
<div class="dino-body">
  <main class="table">
    <section class="table_header">
      <h2>Meet the Stars of Jurassic Park!</h2>
    </section>
    <section class="table_body">
      <table class="dino-table">
        <thead>
          <tr>
            <th>Dinosaur</th>
            <th>Dino Name</th>
            <th>Species</th>
            <th>More Info</th>
          </tr>
        </thead>
        <tbody>
          <% for (let dinosaur of dinosaurs) { %>
          <tr>
            <td>
              <img src="<%= dinosaur.image.url %>" alt="" />
            </td>
            <td><%= dinosaur.name %></td>
            <td><%= dinosaur.species %></td>
            <td>
              <a href="/dinosaurs/<%= dinosaur._id  %>" class="dino-details"
                >Details</a
              >
            </td>
            <% } %>
          </tr>
        </tbody>
      </table>
    </section>
  </main>

  <% if (currentUser && currentUser.isAdmin) { %>
  <div class="dino-add-container">
    <span class="add-dino-version"
      >JPSys Version 2.1.1 03-21-24 -- Editing as <%= currentUser.email %></span
    >
    <a href="dinosaurs/new" class="dino-add-btn">Add a New Dinosaur</a>
  </div>
  <% } %>
</div>
